
#darkmode{
    position: absolute;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background-color: rgb(29, 25, 20);
    outline: none;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.411);
    transition: 2s;
}

#darkmode::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: scale(1.25);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.637);
}

#darkmode:checked::before{
    left: 20px;
    background-color: #008080;
}
#darkmode:checked{
    background-color: white;
}

.video{
    background-color: violet;
    margin-top: 0px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}