@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --corfundo:#008080;
    --amarelo:#ffe66d;
    --preto:#343434;
    --branco:#f7fff7;
    --roxo: #2f3061; 
    --roxodegrade: #2f30617e;
    --Quatto: 'Quattrocento', sans-serif;
    --Oswald: 'Oswald', sans-serif;
    --Vietnam: 'Be Vietnam', sans-serif;
}

body{
    background-color: var(--roxo);
    color: var(--branco);
    font-family: var(--Quatto);
}
h2{
    color: var(--amarelo);
    font-size: 1.7em;
}
h2.intro{
    background-image: linear-gradient(90deg, var(--roxo), var(--corfundo));
    padding: 10px;
    font-family: var(--Oswald);
}
header{
    display: block;
    color: var(--branco);
    padding: 20px ;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
}
header>h1{
    margin-bottom: 10px;
    color: var(--amarelo);
}
#menu{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.288);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

nav>ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

ul>li a{
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    color: var(--branco);
    transition-duration: 0.5s;
    display: block;
}
.butcor{
    background-color: var(--roxo);
    display: flex;
    margin: 0 auto;
    align-items: center;

}
#btn{
    display: none;

}

@media (max-width: 600px){
    #btn{
        display: block;
    }
    #menulista{
       display: block;
       position: absolute;
       width: 100%;
       top:160px;
       right: 0;
       background-color: var(--roxo);
       color: var(--branco);
        
        z-index:1000;
        /*animação do menu
        Trocar a posição do display
        none para block quando a class active estiver ativa
        a class foi configurado em Javascript
        estou usando midiaquery para setar o que acontece quando estou abaixo de 600 px
        setei tb a altura como 0 e corrijo embaixo no active
        overflow y é altura
        hidden é escondido
        */
        height: 0;
        visibility: hidden;
        overflow-y:hidden;
        transition: .6s;

    }
    #menu.active #menulista{
        height: calc(100vh - 160px);
        visibility: visible;
        overflow: auto;

    }
    #menulista a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid;
    }
    #menulista button{
        background-color: white;
        margin: 5px;
        font-weight: bold;
      
    }
    #menulista button:hover{
        background-color: var(--corfundo);
        color: white;
    }
    #menulista>a{
        
    }

}
div>button{
    padding: 5px;
    font-weight: bold;
    margin-right: 30px;
}

a:hover{
    text-decoration: underline;
    background-color: var(--corfundo);
    border-radius: 5px;
}

main{
    background-color: var(--corfundo);
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
}
p{
    text-align: justify;
    margin: 10px 0px;
    line-height: 1.3em;
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
    
}
p+p{
    text-indent: 1.5em;
    margin-top: 0;
}
main strong{
    font-weight: bold;
    color: var(--amarelo);

}
.apresentacao{
    margin: auto;
    display: flex;
    padding: 30px;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
#fotoperfil{
    margin: auto;
    max-width: 40%;
    min-width: 280px;
}
#texto{
    border-radius: 5%;
    max-width: 600px;
    padding: 10px;
}
#logos{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    
}
.empresas{
    display: inline-block;
    margin: 10px auto;
    background-color: var(--roxo);
    border-radius: 5px;
    padding: 20px;
    max-width: 320px;
    height: 280px;
    margin-bottom: 10px;
    background-position: center center;
}
.imagemlogos{
  height: 60px;
}
.palestrafoto{
    display: block;
   
}

#palestra{
    margin-top: 10px;
    width: 100%;
}
.cursos{
    display:flex;
    /*grid-template-columns: 1fr 1fr 1fr;
     Poderia usar grid-template-columns: repeat(3, 1fr)*/
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    /*grid-gap: 20px distancia entre imagens*/
}
.curso, .cursoemvideo{
    border-color: var(--preto);
    border-style: solid;
    
    border-radius: 5%;
    display: block;
    max-width: 320px;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 10px;
}

.curso > img{
    width: 100%;
    margin: 0 auto;
}

.cursoemvideo > img:nth-child(n){
    max-width: 50%;
    margin: 0 auto;
}
#htmlm1:hover{
    
}

footer >a{
    text-decoration: none;
    padding: 10px;    
}
footer > a:hover{
    background-color: var(--roxo);
    color: var(--branco);

}
.exter::after{
    content: '\00a0\1f517' ;
}

.videos{
    margin: auto;
    background-color: var(--roxo);
    margin-top: 0px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
.videos > iframe{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}